.link {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  text-align: center;
  padding: 0.8rem;
  transition: .2s;

  &:hover {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    text-decoration: none;
  }
}

.userToolstip {
  position: absolute;
  right: 12rem;
  top: -15rem;
  background-color: var(--card);
  border-radius: 15px;
  border: 1px solid var(--border);
  width: 27rem;
  padding: 1rem;
  z-index: 1;
  opacity: 0;

  & > .userInfo {
    display: flex;

    .userLevel {
      
      .level img {
        display: block;
        border-radius: 50%;
        width: 8.5rem;
        height: 8.5rem;
        object-fit: cover;
        margin: auto;
        margin-bottom: 1rem;
        padding: 0.3rem;
        border: 5px solid var(--border);
      }

      strong {
        color: var(--blue);
      }

      .name {
        font-size: 0.8em;
        display: block;
        text-align: center;
        width: 11rem;
      }

      i {
        border: 2px solid var(--color-primary);
        border-radius: 50%;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        padding: 0.1rem;
        font-size: 10px;
        margin-left: 0.1rem;
      }

    }

    .userDescription {
      .userActive {
        font-size: 0.9em;
        align-items: center;
        justify-content: start;
        width: auto;
        height: auto;
      }

      .menberships {
        font-weight: 700;
        color: white;
        font-size: 0.8em;
        width: auto;
        height: auto;
        margin-top: 0.6rem;
      }
    }

  }

  .links {
    justify-content: space-between;
    margin-top: 1rem;

    & > a {
      width: 100%;
    }

    a.flex {
      justify-content: center;
      background-color: var(--yellow);
      color: #222222;
      transition: .2s;

      &:hover {
        background-color: #f1d07cab;
      }
    }

    .link img {
      border-radius: 0;
      width: auto;
      height: auto;
      object-fit: cover;
      width: 1.6rem;
    }

  }

}

.tooltip {
  position: absolute;
  white-space: nowrap;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: var(--card);
  box-shadow: 0px 2px 20px #000000bd;
  font-size: 0.8em;
  transition: .4s;
  transform: scale(0);
}

.tooltip-bottom {
  bottom: -3rem;
}

.tooltip-top {
  top: -3rem;
}