@import url(utilityClass.css);
@import url(partials/header.css);
@import url(partials/content.css);
@import url(partials/aside.css);
@import url(elements.css);

:root {
  --bg-color: #222222;
  --color-primary: #909090;
  --color-secondary: #E4E4E4;
  --border: #444444;
  --card: #333333;
  --blue: #93B3F3;
  --yellow: #F1D07C;
  --silver: #909090;
  --bronze: #A77B53;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--color-secondary);
}


a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"] {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  margin: auto;
  max-width: 1200px;
}