@import url(utilityClass.css);

:root {
  --bg-color: #222222;
  --color-primary: #909090;
  --color-secondary: #E4E4E4;
  --border: #444444;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

img {
  width: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"] {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  margin: auto;
  max-width: 1200px;
}

